form > section {
  width: 100%;
  display: inline-flex;
  justify-content: left;
  padding: 10px;
}

#input_error {
  margin: 0;
  padding-left: 10px;
  color: #FF0000;
  display: none;
}

section > label {
  display: inline-block;
  padding-right: 5px;
}

section > input {
  display: inline-block;
}

form {
  width: 50%;
}

.input_box_error {
  background-color: red;
  border-color: #853B00;
}

.modal_background {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}