.cuba {
    float: left;
    width: 40%;
    height: 40%;
    margin: 10px;
}
article ul > li {
    margin: 0;
    list-style-type: none;
    text-indent: -5px;
}
article ul > li:before {
    content: "-";
    text-indent: -5px;
}

button {
  transition-duration: 0.4s;
  background-color: #6EBBF5;
  border: #2973ac;
  border-style: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
.left-button {
    left: 0px;
    margin-left: 100px;
}
.right-button {
    float: right;
    margin-right: 100px;
}
button:hover {
  background-color: #C9B4D6; /* Green */
  color: white;
}

article {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}